[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
requests = "*"
pytest-timeout = "*"
autoflake = "*"
types-requests = "*"
colorama = "*"

[packages]
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
httpx = "*"
python-dotenv = "*"
gunicorn = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
typing-extensions = "*"
aiofiles = "*"
tcpb = ">=0.12.0"
cached-property = "*"
qcelemental = "==0.25.1"
fastapi = "==0.65.1"
bigchem = "==0.3.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
tests = "bash ./scripts/test.sh"
start = "docker-compose up -d --build chemcloud bigchem-worker"
stop = "docker-compose down"
