[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
requests = "*"
pytest-celery = "*"
pytest-timeout = "*"

[packages]
fastapi = "*"
celery = {extras = ["redis"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
httpx = "*"
python-dotenv = "*"
gunicorn = "*"
uvicorn = "*"
qcelemental = "*"
uvloop = "*"
httptools = "*"
typing-extensions = "*"
aiofiles = "*"
amqp = "==5.0.2"
tcpb = "*"
qcengine = {ref = "feature-terachem-pbs-harness", git = "https://github.com/mtzgroup/QCEngine.git"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
tests = "bash ./scripts/test.sh"
start = "docker-compose -f docker/docker-compose.base.yaml -f docker/docker-compose.local.yaml up -d --build"
stop = "docker-compose -f docker/docker-compose.base.yaml -f docker/docker-compose.local.yaml down"
